WarningsAsErrors: '*'
Checks: >
  -*,

  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,

  -bugprone-assignment-in-if-condition,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  -bugprone-not-null-terminated-result,
  -bugprone-reserved-identifier,
  -bugprone-sizeof-expression,
  -bugprone-suspicious-include,
  -bugprone-suspicious-memory-comparison,
  -bugprone-swapped-arguments,
  -bugprone-switch-missing-default-case,
  -bugprone-unsafe-functions,
  -bugprone-unused-return-value,
  -google-readability-braces-around-statements,
  -google-readability-function-size,
  -misc-header-include-cycle,
  -misc-include-cleaner,
  -misc-misplaced-const,
  -misc-no-recursion,
  -misc-unused-parameters,
  -modernize-macro-to-enum,
  -performance-no-int-to-ptr,
  -readability-avoid-const-params-in-decls,
  -readability-avoid-unconditional-preprocessor-if,
  -readability-braces-around-statements,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-misleading-indentation,
  -readability-non-const-parameter,
  -readability-redundant-declaration,
  -readability-redundant-function-ptr-dereference,
  -readability-suspicious-call-argument,
