dist: xenial

language: c

env:
  global:
    # Set "false" to force rebuild of third-party dependencies.
    - CACHE_ENABLE=true
    # Build directory for Neovim.
    - BUILD_DIR="$TRAVIS_BUILD_DIR/build"
    # Build directory for third-party dependencies.
    - DEPS_BUILD_DIR="$HOME/nvim-deps"
    # Install directory for Neovim.
    - INSTALL_PREFIX="$HOME/nvim-install"
    # Log directory for Clang sanitizers and Valgrind.
    - LOG_DIR="$BUILD_DIR/log"
    # Nvim log file.
    - NVIM_LOG_FILE="$BUILD_DIR/.nvimlog"
    # Default CMake flags.
    - CMAKE_FLAGS="-DTRAVIS_CI_BUILD=ON
                   -DCMAKE_BUILD_TYPE=Debug
                   -DCMAKE_INSTALL_PREFIX:PATH=$INSTALL_PREFIX
                   -DBUSTED_OUTPUT_TYPE=nvim
                   -DDEPS_PREFIX=$DEPS_BUILD_DIR/usr
                   -DMIN_LOG_LEVEL=3"
    - DEPS_CMAKE_FLAGS="-DUSE_BUNDLED_GPERF=OFF"
    # Additional CMake flags for 32-bit builds.
    - CMAKE_FLAGS_32BIT="-DCMAKE_SYSTEM_LIBRARY_PATH=/lib32:/usr/lib32:/usr/local/lib32
                         -DCMAKE_IGNORE_PATH=/lib:/usr/lib:/usr/local/lib
                         -DCMAKE_TOOLCHAIN_FILE=$TRAVIS_BUILD_DIR/cmake/i386-linux-gnu.toolchain.cmake"
    # Environment variables for Clang sanitizers.
    - ASAN_OPTIONS="detect_leaks=1:check_initialization_order=1:log_path=$LOG_DIR/asan"
    - TSAN_OPTIONS="log_path=$LOG_DIR/tsan"
    - UBSAN_OPTIONS="print_stacktrace=1 log_path=$LOG_DIR/ubsan"
    # Environment variables for Valgrind.
    - VALGRIND_LOG="$LOG_DIR/valgrind-%p.log"
    - CACHE_NVIM_DEPS_DIR="$HOME/.cache/nvim-deps"
    # If this file exists, the cache is valid (compile was successful).
    - CACHE_MARKER="$CACHE_NVIM_DEPS_DIR/.travis_cache_marker"
    # default target name for functional tests
    - FUNCTIONALTEST=functionaltest
    - CI_TARGET=tests
    # Environment variables for ccache
    - CCACHE_COMPRESS=1
    - CCACHE_SLOPPINESS=time_macros,file_macro
    - CCACHE_BASEDIR="$TRAVIS_BUILD_DIR"
    # Default since 3.3, but Travis (Xenial) has 3.2.4; required with newer gcc/clang.
    - CCACHE_CPP2=1

anchors:
  envs: &common-job-env
    # Do not fall back to cache for "master" for PR on "release" branch:
    # adds the target branch to the cache key.
    FOR_TRAVIS_CACHE=v1-$TRAVIS_BRANCH

addons:
  apt:
    packages: &common-apt-packages
      - apport
      - autoconf
      - automake
      - build-essential
      - clang
      - cmake
      - cscope
      - gcc-multilib
      - gdb
      - gperf
      - language-pack-tr
      - libc6-dev-i386
      - libtool-bin
      - locales
      - ninja-build
      - pkg-config
      - unzip
      - valgrind
      - xclip
  homebrew:
    update: false
    packages:
      - ccache
      - ninja

jobs:
  include:
    - name: gcc-coverage (gcc 9)
      os: linux
      compiler: gcc-9
      env:
        - GCOV=gcov-9
        - CMAKE_FLAGS="$CMAKE_FLAGS -DUSE_GCOV=ON"
        - GCOV_ERROR_FILE="/tmp/libgcov-errors.log"
        - *common-job-env
      addons:
        apt:
          sources:
            - sourceline: 'ppa:ubuntu-toolchain-r/test'
          packages:
            - *common-apt-packages
            - gcc-9
  fast_finish: true

before_install: ci/before_install.sh
install:        ci/install.sh
before_script:  ci/before_script.sh
script:         ci/script.sh
before_cache:   ci/before_cache.sh

branches:
  only:
    - master
    - /^release-\d+\.\d+$/

cache:
  apt: true
  ccache: true
  directories:
    - "$CACHE_NVIM_DEPS_DIR"

git:
  quiet: true

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/b5c38c99f9677aa3d031
