name: "Commit Linter"
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
jobs:
  lint-commits:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2.3.1
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
          path: pr_nvim
      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
      - run: wget https://raw.githubusercontent.com/neovim/neovim/master/scripts/lintcommit.lua
      - run: nvim --clean -es +"cd pr_nvim" +"lua dofile('../lintcommit.lua').main({trace=true})"
