name: "Commit Linter"
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - 'master'
jobs:
  lint-commits:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - run: ./.github/scripts/install_deps.sh
      - uses: ./.github/actions/cache
      - name: Build
        run: |
          cmake -S cmake.deps -B .deps -G Ninja
          cmake --build .deps
          cmake --preset ci
          cmake --build build

      - name: lintcommit
        run: cmake --build build --target lintcommit
